@inherits LayoutComponentBase
@inject UserService _userService

<div class="page">
    <div class="sidebar2">
        <NavMenu />
    </div>

    <main>
        <div class="row w-100 p-2">
            @if (user == null)
            {
                <NavLink href="login">Login</NavLink>
            }
            else
            {
                <p class="d-none d-md-block text-end w-100 p-0">🖐️ Olá, @user.Name! &nbsp;
                <span class="" @onclick="Logout">
                        <svg height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>
                </span>
                </p>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    UserViewModel? user;

    protected override async Task OnParametersSetAsync()
    {
        user = await _userService.GetUser();
    }

    private async Task Logout() => await _userService.Logout();
}